<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Perspective_LastProduct::perspective" title="Parameter_X" module="Perspective_LastProduct" sortOrder="51" resource="Perspective_LastProduct::perspective"/>
        <add id="Perspective_LastProduct::perspective_configuration" title="Configuration" module="Perspective_LastProduct" sortOrder="99" parent="Perspective_LastProduct::perspective" action="adminhtml/system_config/edit/section/perspective" resource="Perspective_LastProduct::perspective"/>
    </menu>
</config>